<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs")%>

    <body>
    <main>
        <h2>HOLA ESTAS EN CONTACTO</h2>
        </main>

        <%- include("partials/footer.ejs")%>
    </body>
</html>