<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs")%>

    <body>
        <%- include("partials/header.ejs")%>

    <main>
        <h2>HOLA ESTAS EN AUTENTICACIÓN</h2>
        </main>

        <%- include("partials/footer.ejs")%>
    </body>
</html>