<!DOCTYPE html>
<html lang="en">

<%- include("partials/header.ejs")%>

<body>
    <main>
        <div class="div-banner">
            <div class="banner-img">
                <div class="banner-text">
                    <h3 class="new-in">Nuevos Ingresos</h3>
                    <p>Descubrí el próximo Funko Pop de tu colección</p>
                    <div class="shop-button">
                    <h3>SHOP</h3>
                </div>
                </div>   
            </div>
        </div>
        <div class="market">


        </div>
    </main>
 

    <script src="/index.js"></script>

</body>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500&display=swap" rel="stylesheet">

</html>