<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/style.css"> 
    <title>FunkoShop</title>
</head>

<body>

    <header>

<nav>
    <div class="nav-logo">
        <a href="/"><img src="../multimedia/branding/logo_light_horizontal.svg" alt="Logo"
                class="nav-logo-img"></a>
    </div>
    <div class="nav-options">
        <ul>
            <li>
                <a href="/shop">SHOP</a>
            </li>
            <li>
                <a href="/contact">CONTACT</a>
            </li>
            <li>
                <a href="/login">LOGIN</a>
            </li>
            <li>
                <a href="">
                    <img src="../multimedia/icons/cart-icon.svg" alt="ícono de carrito">
                </a>
            </li>

        </ul>
    </div>
</nav>
</header>
</body>